* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1160px) {
    .container {
        width: 1040px;
    }
}

@media (max-width: 1060px) {
    .container {
        width: 940px;
    }
}

@media (max-width: 960px) {
    .container {
        width: 840px;
    }
}

@media (max-width: 860px) {
    .container {
        width: 740px;
    }
}

@media (max-width: 760px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 660px) {
    .container {
        width: 540px;
    }

    .nature-li p {
        font-size: 12px;
    }

    .nature-all {
        margin-top: -24px;
    }
}

@media (max-width: 560px) {
    .container {
        width: 440px;
    }

    .link a {
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .container {
        width: 340px;
    }

    .item_Escape {
        font-size: 15px;
    }

    .link a {
        font-size: 8px;
    }

    .nature-li p {
        font-size: 10px;
    }

    .lets-h {
        font-size: 20px;
    }

    .nature-all {
        margin-top: -59px;
    }
}

@media (max-width: 360px) {
    .container {
        width: 240px;
    }

    .nature-li p {
        font-size: 5px;
    }

    nav .container {
        justify-content: space-between;
    }
}

@media(max-width: 260px){
    .container{
        width: 140px;
    }

    .item_Escape {
        font-size: 9px;
        margin-left: -40px;
    }

    .link a {
        font-size: 6px;
    }

    .togather-all p {
        font-size: 10px;
    }
}

header {
    background-image: url(/img/IMAGE\ \(41\).png);
    padding-bottom: 235px;
    background-repeat: no-repeat;
    background-size: cover;
}

.item_Escape {
    color: white;
}

.link a{
    color: white;
    margin: 0 15px;
    text-transform: capitalize;
    transition: .6s;
}

.link a:hover {
    color: rgb(135, 135, 204);
}

.togather-all {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.togather-all h1 {
    font-size: 40px;
}

.togather-all p {
    font-size: 20px;
    font-weight: 100;
}

.togather-all a {
    background-color: coral;
    padding: 15px 20px;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 15px;
    transition: .6s;
    border: 2px solid rgb(244, 109, 59);
}

.togather-all a:hover {
    color: darkgray;
    background-color: rgb(244, 109, 59);
    border: 2px solid coral;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.item {
    display: flex;
}

.list {
    margin: 0 15px;
}

.section-first {
    background-color: #FFFFFF;
}

.nature-img-texts {
    display: flex;
    justify-content: space-around;
}

.nature-all {
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
}

.nature-li p {
    color: rgb(142, 138, 138);
    transition: .6s;
}

.nature-li p:hover {
    cursor: pointer;
    color: coral;
}

.img1 {
    background-image: url(/img/IMAGE\ \(42\).png);
    background-size: 100%;
    padding: 50px;
    background-repeat: no-repeat;
    color: white;
}

.img2 {
    background-image: url(/img/IMAGE\ \(46\).png);
    background-size: 100%;
    padding: 50px;
    background-repeat: no-repeat;
    color: white;
}

.adventure {
    width: 135px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #DD783F;
}

.posts {
    font-weight: unset;
    margin-left: 500px;
    padding-bottom: 5px;
}

.nature-img-texts {
    margin-top: 100px;
}

.posts:hover {
    border-bottom: 2px solid darkgray;
    width: 170px;
}

.section-second {
    background-color: #F7F7F7;
    padding-top: 100px;
}

.road-flex {
    display: flex;
    justify-content: space-between;
}

.road1 {
    display: flex;
    align-items: center;
}

.the {
    margin-top: 100px;
    font-weight: unset;
}

.the2 {
    margin-top: 60px;
    font-weight: unset;
}

.ahead {
    padding-top: 20px;
    padding-bottom: 15px;
    color: darkgray;
}

.mat {
    margin-left: 10px;
    color: darkgray;
}

.road2 p {
    color: darkgray;
}

.most {
    margin-left: 500px;
    margin-top: 60px;
    font-weight: unset;
    font-size: 25px;
}

.william-all {
    display: flex;
}