* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1160px) {
    .container {
        width: 1040px;
        background: red;
    }
}

@media (max-width: 1060px) {
    .container {
        width: 940px;
        background: blue;
    }
}

@media (max-width: 960px) {
    .container {
        width: 840px;
        background: gold;
    }
}

@media (max-width: 860px) {
    .container {
        width: 740px;
        background: darkgray;
    }
}

@media (max-width: 760px) {
    .container {
        width: 640px;
        background: black;
    }
}

@media (max-width: 660px) {
    .container {
        width: 540px;
        background: red;
    }
}

@media (max-width: 560px) {
    .container {
        width: 440px;
        background: green;
    }
}

@media (max-width: 460px) {
    .container {
        width: 340px;
        background: aqua;
    }

    .item_Escape {
        font-size: 15px;
    }

    .list a {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .container {
        width: 240px;
        background: coral;
    }
}

nav {
    background-image: url(/img/IMAGE\ \(41\).png);
}

.item_Escape {
    color: white;
}

.link a{
    color: white;
    margin: 0 15px;
    text-transform: capitalize;
}

.togather-all {
    text-align: center;
    color: white;
}

.togather-all h1 {
    font-size: 40px;
}


nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.item {
    display: flex;
}

.list {
    margin: 0 15px;
}